# Simulator
SIMULATOR_KAFKA_BOOTSTRAP=urbangreen-kafka:9092
SIMULATOR_BACKFILL_DAYS=365
SIMULATOR_BACKFILL_EVENTS_PER_DAY=4
SIMULATOR_LIVE_INTERVAL_SECONDS=600
SIMULATOR_OUTLIER_PROBABILITY=0.01
SIMULATOR_LOG_LEVEL=INFO