# Simulator
SIMULATOR_KAFKA_BOOTSTRAP=urbangreen-kafka:9092
SIMULATOR_BACKFILL_DAYS=365
SIMULATOR_BACKFILL_EVENTS_PER_DAY=4
SIMULATOR_LIVE_INTERVAL_SECONDS=600
SIMULATOR_OUTLIER_PROBABILITY=0.01
SIMULATOR_LOG_LEVEL=INFO

# Postgres
POSTGRES_USER=urbangreen
POSTGRES_PASSWORD=
POSTGRES_DB=urbangreen_db
POSTGRES_PORT=5432

# API
API_PORT=8000
API_JWT_SECRET=change-me-in-prod-please-make-this-32-chars
API_JWT_ALGORITHM=HS256
API_JWT_EXPIRES_MINUTES=60
API_SUPERUSER_EMAIL=admin@example.com
API_SUPERUSER_PASSWORD=change-me-in-prod
API_SUPERUSER_FULL_NAME=System Administrator

# MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_STAGING_BUCKET=staging

# AIRFLOW
AIRFLOW_PORT=8080
AIRFLOW_UID=50000

# SPARK
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8090
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=1g

# KAFKA
KAFKA_PORT_INTERNAL=9092
KAFKA_PORT_HOST=29092
KAFKA_PORT_CONTROLLER=9093
CLUSTER_ID=replace-with-generated-kafka-cluster-id
KAFKA_TOPIC_SENSOR_READINGS=sensor_readings

# SPARK STREAMING
KAFKA_STARTING_OFFSETS=earliest
STREAM_TRIGGER_INTERVAL=60 seconds
SPARK_LOG_LEVEL=INFO

# JUPYTER
JUPYTER_PORT=8888
SPARK_DRIVER_UI_PORT=4040