# Use localhost when running the API locally.
# Use the Docker Compose service name when running the API in Docker.
POSTGRES_USER=urbangreen
POSTGRES_PASSWORD=
POSTGRES_DB=urbangreen_db
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_SCHEMA=
API_APP_V1_PREFIX=/api/v1