# Postgres
POSTGRES_USER=urbangreen
POSTGRES_PASSWORD=change-me-in-prod
POSTGRES_DB=urbangreen_db
POSTGRES_HOST=change-me-in-prod
POSTGRES_PORT=5432
POSTGRES_SCHEMA=change-me-in-prod

# API
API_V1_PREFIX=/api/v1
JWT_SECRET=change-me-in-prod-please-make-this-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=60
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=change-me-in-prod
SUPERUSER_FULL_NAME=System Administrator
